SUBSCRIPTION_ID=
RESOURCE_GROUP=
WORKSPACE_NAME=
CLUSTER_NAME=

# Azure ML recommended defaults for fine-tuning
VM_SIZE=Standard_NC24ads_A100_v4
MIN_NODES=0
MAX_NODES=2
ENDPOINT_NAME=
DEPLOYMENT_NAME=